<%= render 'pages/home' if !user_signed_in? %>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <p><%= pin.description %></p>
        <p><strong><%= pin.user.try(:email) %></strong></p>


        <% if current_user == pin.user %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
              <i class="fa fa-pencil-square-o"></i>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash"></i>Delete
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>





